<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Customers</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="/bootstrap.min.css" media="screen" />
</head>
<body>
	<div class="container">
		<div class="page-header" id="banner">
			<div class="row">
				<div class="col-lg-12 col-md-7 col-sm-6">
					<h1>Customers</h1>
					<h4>Select Number of Rows</h4>
					<div class="form-group">
						<select name="state" id="maxRows" class="form-control" style="width:150px;">
							<option value="1000">Show All</option>
							<option value="5">5</option>
							<option value="10">10</option>
							<option value="15">15</option>
							<option value="20">20</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select>
					</div>
					<table id="customer" class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Phone</th>
								<th>Country Code</th>
								<th>State</th>
								<th>Country</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="customer : ${customers}">
								<td th:text="${customer.name}"></td>
								<td th:text="${customer.phone}"></td>
								<td th:text="${customer.phoneCountryCode}"></td>
								<td th:text="${customer.state} ? 'Valid' : 'Not valid'"></td>
								<td th:text="${customer.country.name}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="pagination-container">
					<nav>
						<ul class="pagination"></ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<script src="jquery-3.4.1.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<script>
		var table = '#customer';
		$('#maxRows')
				.on(
						'change',
						function() {
							$('.pagination').html('');
							var trnum = 0;
							var maxRows = parseInt($(this).val());
							var totalRows = $(table + ' tbody tr').length;
							$(table + ' tr:gt(0)').each(function() {
								trnum++;
								if (trnum > maxRows) {
									$(this).hide();
								}
								if (trnum <= maxRows) {
									$(this).show();
								}
							});

							if (totalRows > maxRows) {
								var pageNum = Math.ceil(totalRows / maxRows);
								for (var i = 1; i <= pageNum;) {
									$('.pagination')
											.append(
													'<li data-page="'+i+'">\<span>'
															+ i++
															+ '<span class="sr-only">(current)</span></span>\<li>')
											.show();
								}
							}
							
							$('.pagination li:first-child').addClass('active');
							$('.pagination li').on('click', function () {
								var pageNum = $(this).attr('data-page');
								var trIndex = 0;
								$('.pagination li').removeClass('active');
								$(this).addClass('active');
								$(table + ' tr:gt(0)').each(function () {
									trIndex++;
									if (trIndex > (maxRows*pageNum) || trIndex <= ((maxRows*pageNum)-maxRows)) {
										$(this).hide();
									} else {
										$(this).show();
									}
								});
							});
						});
		
		$(function() {
			$('table tr:eq(0)').prepend('<th>ID</th>');
			var id = 0;
			$('table tr:gt(0)').each(function () {
				id++
				$(this).prepend('<td>' + id + '</td>')
			});
		});
	</script>
</body>
</html>
